#city_name{
    
    font-weight: 700;
    font-size: 64px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    text-align: left;
    display: block;
    padding: 0 0 2% 0;
}

.currentData{
    padding-top: 10%;
    padding-bottom: 5%;
}

#todays_date{
    padding: 0 0 0 2%;
    font-weight: 700;
    font-size: 20px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    text-align: left;
    display: block;
}

#current_icon{
   
width: 97px;
height: 97px;
left: 120px;
top: 397px;
text-align: left;
    display: block;
}

#current_summary{
    padding: 2% 0;
    font-weight: 700;
    font-size: 30px;
    color: #FFFFFF;
    text-align: left;
    display: block;
}

#current_temp{
    padding: 2% 0;
    height: 169px;
    font-weight: 700;
    font-size: 144px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    text-align: right;
    display: block;
}

#high_low_temp{
    font-size: 48px;
    line-height: 56px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    text-align: right;
    display: block;
    padding: 5% 0 2% 0;
}

#short_summary{
   
    font-weight: 600;
    font-size: 24px;
    color: #FFFFFF;
    text-align: right;
    display: block;
}