#city_name{
    
    font-weight: 700;
    font-size: 64px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    text-align: left;
    display: block;
}

#todays_date{
    
    font-weight: 700;
    font-size: 20px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    text-align: left;
    display: block;
}

#current_icon{
    
width: 97px;
height: 97px;
left: 120px;
top: 397px;
text-align: left;
    display: block;
}

#current_summary{
    
width: 130px;
height: 35px;
left: 120px;
top: 510px;

font-family: 'Work Sans';
font-style: normal;
font-weight: 700;
font-size: 30px;
line-height: 35px;

color: #FFFFFF;

mix-blend-mode: normal;
text-align: left;
    display: block;
}

#current_temp{
    
    height: 169px;
    font-weight: 700;
    font-size: 144px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    text-align: right;
    display: block;
}

#high_low_temp{
    font-size: 48px;
    line-height: 56px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    text-align: right;
    display: block;
}

#short_summary{
    
    font-weight: 600;
    font-size: 24px;
    color: #FFFFFF;
    text-align: right;
    display: block;
}