.c_button{
    background-color: #E5E5E5;
    border: none;
    border-left: 1px solid black;
    width: 76px;
    height: 48px;
     
    
}

.f_button{
    background-color: inherit;
    background-repeat: no-repeat;
    border-left: none;
    border: none;
    margin: 20px
}


.app_name{
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    text-decoration: none;
    text-transform: uppercase;
}

#toggle_buttons{
 
    left: 120px;
    top: 200px;



}



  

